.breadcrumb li a {
	color: #c44e00;
}

#crumbs-and-filter {
	min-height: inherit;
	border-width: 0px;
	border-radius: unset;
}

.crumbs-and-filter-container.stick {
	margin-left: 0px;
	margin-right: 0px;
	left: 0px;
	right: 0px;
	width: 100% !important;
}

.crumbs-and-filter-container.stick nav {
	margin-left: 0;
	margin-right: 0;
}

#crumbs-and-filter ol {
	margin-block-end: 0px;
}

#crumbs {
	float: left;
}