/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */
.callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #C0C0C0;
	border-left-width: 5px;
	border-radius: 3px;
	min-height: 106px;
	padding-left: 38px;
	position: relative;
}
.callout h5 {
	margin-top: 0;
	margin-bottom: 5px;
	/* text-transform: uppercase; */
	/* letter-spacing: 1px; */
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	font-size: 18px;
}
.callout h5:nth-child(1) {
	transform: rotate(90deg);
	position: absolute;
	transform-origin: bottom left;
	left: 4px;
	top: -12px;
}
.callout p:last-child,
.callout table:last-child {
	margin-bottom: 0;
}
.callout code {
	border-radius: 3px;
}
.callout .control-label {
	color: #606060;
	font-weight: normal;
}
.callout+.callout {
	margin-top: -5px;
}

.callout-default {
	border-left-color: #606060;
}
.callout-default h5 {
	color: #606060;
}
.callout-primary {
	border-left-color: #c44e00;
	overflow: auto;
}
.callout-primary h5 {
	color: #c44e00;
}
.callout-success {
	border-left-color: #606060;
}
.callout-success h5 {
	color: #606060;
}
.callout-danger {
	border-left-color: #d9534f;
}
.callout-danger h5 {
	color: #d9534f;
}
.callout-warning {
	border-left-color: #f0ad4e;
}
.callout-warning h5 {
	color: #f0ad4e;
}
.callout-info {
	border-left-color: #606060;
}
.callout-info .constructor {
	padding-bottom: 14px;
}
.callout-info h5 {
	color: #606060;
}
.callout-class-diagram {
	border-left-color: #c44e00;
}
@media(min-width: 576px) {
	.callout-class-diagram {
		float: right;
	}
}
.callout-class-diagram svg {
	margin: auto;
}

.callout-class-diagram pre {
	margin-top: -10px;
	margin-right: -10px;
	padding: 0 0 0 0;
	background-color: #ffffff;
	border: none;
}
.callout-class-diagram .constructor {
	padding-bottom: 14px;
}
.callout-class-diagram h5 {
	color: #c44e00;
}
.callout-rpc {
	border-left-color: #c7bfd3;
}
.callout-rpc h5 {
	color: #c7bfd3;
}
.callout-example {
	border-left-color: #606060;
}
.callout-example h5 {
	color: #606060;
}

.callout .form-group {
	margin-bottom: 0px;
}

.callout .form-group > div.control-static > p {
	min-height: 34px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0;
}
.callout .form-control-static {
	min-height: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.callout .table > thead > tr > th {
	font-weight: normal;
}