.access-filter {
	text-align: right;
	color: #767676;
	margin-right: 15px;
	margin-top: 8px;
	float: right;
}
.breadcrumb li a {
	color: #c44e00;
}

#nav-crumbs-and-filter {
	min-height: inherit;
	border-width: 0px;
	border-radius: unset;
}

#nav-crumbs-and-filter ol {
	margin-block-end: 0px;
}

#movable-crumbs-and-filter.stick {
	left: 0;
	width: 100% !important;
	background-color: #f0f0f0;
}

#nav-crumbs-and-filter.navbar-default {
	background-color: inherit;
	border-width: 0;
	background-color: #f0f0f0;
}

.caf-banner {
	background-color: #f0f0f0;
}
.stick .caf-banner {
	margin-left: 0;
	margin-right: 0;
}
.caf-banner {
	margin-left: -15px;
	margin-right: 15px;
}
#movable-crumbs-and-filter nav {
	margin-bottom: 0px;
}
#crumbs {
	display: inline-block;
}

#crumbs .breadcrumb {
	background-color: inherit;
	border: 0px;
}