
.tutorial-section .lang-mermaid, .tutorial-section .language-mermaid {
    opacity: 0
}

.tutorial-section .language-mermaid .toolbar {
    display: none;
}

.tutorial-section .language-mermaid code, div.mermaid {
    display: flex;
    overflow: hidden;
}

:not(pre)>code[class*=language-mermaid], pre[class*=language-mermaid] {
    background-color: #c47c00;
}

.mermaid .relation {
    stroke: #404040 !important;
    stroke-width: 3 !important;
}

.mermaid .label, .mermaid .edgeLabel .label text {
    fill: #ffffff !important;
}

.mermaid .box {
    fill: #404040 !important;
    opacity: 1 !important;
    stroke: #404040 !important;
    stroke-width: 4px !important;
}

.mermaid text {
    fill: #ffffff !important;
}

.tutorial-section .mermaid text {
    fill: #000000 !important;
}

.tutorial-section .mermaid .classLabel text {
    fill: #ffffff !important;
}

.mermaid rect, .mermaid .node polygon {
    fill: #c47c00 !important;
    stroke: #303030 !important;
    stroke-width: 1.5 !important;
}

.tutorial-section .mermaid rect, .tutorial-section .mermaid .node polygon {
    fill: #ffffff !important;
    stroke: #303030 !important;
    stroke-width: 1.5 !important;
}

.mermaid .classLabel rect, .mermaid .label rect {
    fill: #404040 !important;
    opacity: 1 !important;
    stroke: #404040 !important;
    stroke-width: 10px !important;
}

.mermaid line {
    stroke: #303030 !important;
    stroke-width: 1 !important;
}

.mermaid #extensionStart {
    opacity: 0 !important;
}

