.tutorial-section .lang-mermaid code, .tutorial-section .language-mermaid code {
    opacity: 0
}

.language-mermaid {
    overflow: inherit;
}

.language-mermaid code {
    display: flex;
    overflow: hidden;
    opacity: 0
}

.filtered-mermaid .relation {
    stroke: #404040 !important;
    stroke-width: 3 !important;
}

.filtered-mermaid .label, .filtered-mermaid .edgeLabel .label text {
    fill: #ffffff !important;
}

.filtered-mermaid .box {
    fill: #404040 !important;
    opacity: 1 !important;
    stroke: #404040 !important;
    stroke-width: 4px !important;
}

.filtered-mermaid text {
    fill: #ffffff !important;
}

.tutorial-section .filtered-mermaid text {
    fill: #000000 !important;
}

.tutorial-section .filtered-mermaid .classLabel text {
    fill: #ffffff !important;
}

.filtered-mermaid rect, .filtered-mermaid .node polygon {
    fill: #909090 !important;
    stroke: #303030 !important;
    stroke-width: 1.5 !important;
}

.class-diagram-primary rect {
    fill: #c47c00 !important
}
.tutorial-section .filtered-mermaid rect, .tutorial-section .filtered-mermaid .node polygon {
    fill: #ffffff !important;
    stroke: #303030 !important;
    stroke-width: 1.5 !important;
}

.filtered-mermaid .classLabel rect, .filtered-mermaid .label rect {
    fill: #404040 !important;
    opacity: 1 !important;
    stroke: #404040 !important;
    stroke-width: 10px !important;
}

.filtered-mermaid line {
    stroke: #303030 !important;
    stroke-width: 1 !important;
}

.filtered-mermaid #extensionStart {
    opacity: 0 !important;
}

.language-mermaid .toolbar {
    display: none !important;
}

