<!-- start:readme.hbs -->
{{#extend "site/layout"}}

	{{#content "content"}}
		<section class="tutorial-section">
			<article>{{{doclet.contents}}}</article>
			{{#if doclet.children}}
				<div class="related-tutorials">
				{{#if doclet.ancestors}}
					<h2>Additional articles</h2>
				{{/if}}
					<ul>
						{{#each doclet.children}}
							<li>{{linkto longname}}</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
		</section>
	{{/content}}

{{/extend}}
<!-- end:readme.hbs -->